.popUpContainer {
    position: relative;
    bottom: 0;
    height: 5%;

}

.popUpContent {
    position: fixed;
    bottom: 0;
    background-color: gray;
}

.iUnderstandBtn {
    position: fixed;
    bottom: 0;
    right: 0;

}

.bannerText {
    float: left;
    font-size: 16px;
    

}

.nettvettLink {
    font-size: 16px;
    float: right;

}

.cookiePolicyLink {
    font-size: 16px;

}