@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body {
    background-color: #FAFAFA;
}

/* Deletes chrome blue focus-border */
:focus {
    outline: none !important;
}


.page-header {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #0071A4;
    color: #498492;
    font-weight: 600;
}

#wrapperButtons {
    display: grid;
    justify-content: center;
}

button {
    padding: 0;
    margin: 0 auto;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    margin: 1.8rem;
    height: 88px;
    width: 289px;
    text-align: left;
    font-size: 22px;
    border-style: none;
    margin-top: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px grey;
    position: relative;
    padding-left: 20px;

}



/*Buttons*/
.btn-coffeMeeting {
    background-color: #155767;
    color: white;
}

.btn-onTour {
    vertical-align: middle;
    padding-top: 20px;
    clear: left;
    color: black;
    background-color: #678C97;
}

.btn-onTour img{
    position: relative;
    height: 50px;
    width: 50px;
    top: -10px;
    margin-left: 100px;
}
    

.btn-physicalActivity {
    color: black;
    background-color: #7DFBBC;
}

.btn-foodAndTalk {
    color: black;
    background-color: #EE8178;

}

.btn-studyGroup {
    color: white;
    background-color: #BB2D56;
}

/*IMAGES*/
