.calender{
    height: 40px;
}

.btn {
padding: 2rem;
width: 100%;
max-width: 300px;
display: flex;
justify-content: space-between;
font-size: 1.3rem;
}
 .findEventsContainer{
     margin-top: 7rem;
 }
 .eventBox{
    margin: 0 auto;
    margin: 5%;
}


 .heading{
    text-align: center;
    color: #008099; 
    margin-top: 0;
    font-weight: normal;
    }
.arr-info{
    padding-left: 30%;
    margin-top: -10px;
    }
.btn-participate{
    background-color: #F5C759;
    color: black;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    float: right;
    font-size: 15px;
}



    /* ----------- < iPad  ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 568px) 
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2)
{


  
}

/* ----------- Desktop ----------- */
@media screen 
and (min-device-width: 1200px) 

{ 

    .eventContainer{
        margin: 0 auto;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .eventBox{
        margin: 0 auto;
        width: 95%;
    }

    .findEventsContainer{
        margin-top: 9rem;
    }
}
