
.eventPagesHeader{
 margin-bottom: 4rem;
}
.calender{
    height: 40px;
}
.back-btn{
padding: 0.5rem;
text-align: center;
height: 40px;
width: 40px;
border-radius: 50%;
float: left;
}

.btn {
padding: 2rem;
width: 100%;
max-width: 300px;
display: flex;
justify-content: space-between;
font-size: 1.3rem;
}
 .findEventsContainer{
     margin-top: 7rem;
 }
 .eventBox{
    margin: 0 auto;
    /* border:solid rgb(78, 85, 189) 5px; */
}

.eventsList{
    width: 100%;

}




    /* ----------- < iPad  ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 568px) 
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2)
{


  
}

/* ----------- Desktop ----------- */
@media screen 
and (min-device-width: 1200px) 

{ 

    .eventContainer{
        margin: 0 auto;
        margin-top: 2rem;
    
        
    }

    .eventBox{
        margin: 0 auto;
        width: 95%;
    }

   

    .back-btn{
        padding: 0.8rem;
        text-align: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        float: left;
        }

    
}
