
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400&display=swap');

body {
margin: 0 auto;
}
/* Deletes chrome blue focus-border */
:focus {
outline: none !important;
}

.formContainer{
    border: 1px solid rebeccapurple;
    padding: 90px 90px;
}

.mainContainer{
    border: 1px solid red;
    background-color:#FAFAFA;
}

.subheader{
    margin-top: 70px;
}

.header h1{
    font-family: 'Montserrat', sans-serif;
}

