body {

    margin: 0rem;
    background-color:#FAFAFA;
}

/* Deletes chrome blue focus-border */
:focus {
    outline: none !important;
}


p {
    margin: 0%;
    padding: 0%;
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
}



.page-header {
    margin: 0%;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: underline;
    color: #155767;
}



.inputContainerShorts {
   
    margin: 0.5rem auto 1rem auto;
    display: grid;
    grid-template-columns: 30% 30%;
}

.inputForm{
    margin: 0 auto; 


}

/* Class for all sections containing input-fields */
.inputSection {
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0rem;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
}


/* Class for all input-fields */
.input-box, .input-box-text{
    border: solid 2px rgb(236, 236, 236);
    border-radius: 2px;
    padding: 0.5rem;
    font-size: 1rem;
    height: 18px;
    width: 95%;
}

.input-box-text {

    height: 100px;

}


/* Container for feedback to user below message-area */
#status-bar {
    height: 20px;
    width: 100%;
}

.wrapperButtons {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.buttonReg {
    margin: 1px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: center;
    background-color: #155767;

}


