
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
body {
margin: 0 auto;
}
/* Deletes chrome blue focus-border */
:focus {
outline: none !important;
}

.quote{
    color: #F4BC36;
}