
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400&display=swap');

body {
margin: 0 auto;
height: 100%;
width: 100%;
}
/* Deletes chrome blue focus-border */
:focus {
outline: none !important;
}

.header img{
    display:block;
	margin:0 auto;
    width: 155px;
    height: 70px;
}

.mainContainerStartPage{
    background-image: url(../../images/background.jpg);
    width: 375px;
    height: 700px;
    border: 0.1px solid transparent;
}

.formContainer{
    padding: 10px;
    margin-top: 40px;
}


.quote{
    font-family: 'Montserrat', sans-serif;
    color: #F4BC36;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

button{
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    border-style: none;
    border-radius: 6px;
    font-size: 23px;
    display:block;
	margin:0 auto;
    background-color:#366E7C;
    color: white;
    width: 290px;
    height: 86px;
    margin-bottom: 40px;
}

