

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
body {
margin: 0 auto;
}
/* Deletes chrome blue focus-border */
:focus {
outline: none !important;
}

.header img{

    display:block;
	margin:0 auto;
    width: 150px;
    height: 70px;
}

.mainContainerLogIn{
    background-image: url(../../images/background.jpg);
    width: 375px;
    height: 700px;
    border: 0.1px solid transparent;
}
.username, .password{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}

.btn-login{
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    border-style: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;
    display:block;
	margin:0 auto;
    background-color: #E2B14D;
    color: white;
    width: 240px;
    height: 50px;
}