

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
body {
margin: 0 auto;
}
/* Deletes chrome blue focus-border */
:focus {
outline: none !important;
}

.header img{
    display:block;
	margin:0 auto;
    width: 150px;
    height: 70px;
}

.header{
    margin-bottom: 100px;
}

.mainContainerLogIn{
    background: #6190E8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 375px;
    height: 700px;
    border: 0.1px solid transparent;
}

.inputForm{
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.7);

    background: white;
}
.username, .password{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 1px solid grey;
}

.btn-login{
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    border-style: none;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;
    display:block;
	margin:0 auto;
    background-color: #E2B14D;
    color: white;
    width: 240px;
    height: 50px;
    margin-top: 50px;
}