.eventContainer .subHeader{
    margin-top: 1rem;
    text-align: center;
    color: #007A9E;
    font-size: 1.4rem;
}

.eventContainer .btn{
    margin-top: -1rem;
   height: 70%;
   border-radius: 5px;

    
}

.eventContainer{
    margin-top: 2rem;
    /* border: solid rgb(206, 206, 206) 1px; */
}

.adminEventsContainer , 
.joinedEventsContainer{
   text-align:center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%; 
}





.testEvent{
  
    margin: 0 auto;
    margin-bottom: 2rem;

    padding: 1rem;
    height: 130px;
    box-shadow: 0px 3px 6px rgba(68, 113, 124, 0.452);

 
}